*{
    margin: 0px;
    padding: 0px;
}
.cotainer{
    background-color: rgba(32, 31, 31, 0.911);
    padding: 20px;
    color: white;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.menu-items{
    display: flex;
    list-style: none;
}
.logo-photo{
    width: 120px;
}
.itmes{
    margin-left: 10px;
}
.itmes:hover{
    color: aqua;
    transform: 0.3s;
}
.image{ 
    width: 300px;
}
.main{
    
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: white;
    background-image: url("../images/background/background\ \(1\).png"),linear-gradient(45deg,rgb(8,8,8),rgb(53,53,53));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.title{
    font-size: 55px;
    font-weight: bold;

}
.dis{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.button{
    color: white;
    background: red;
    padding: 15px;
    border: none;
}
.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

}
.aboutus{
    text-align: center;
    font-size:35px ;

}
.about-head{
    font-size: 24px ;
    padding: 10px;
}
.para{
    margin-bottom: 10px;
}