*{
    margin: 0px;
    padding: 0px;
}
.cotainer{
    background-color: rgba(32, 31, 31, 0.911);
    padding: 20px;
    color: white;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.menu-items{
    display: flex;
    list-style: none;
}
.logo-photo{
    width: 120px;
}
.itmes{
    margin-left: 10px;
}